<!DOCTYPE html>
<html>
  <head>
    <title> User Page </title>
    <meta charset="utf-8">
    <link rel = "stylesheet" type="text/css" href = '{{url_for('static', filename = 'style.css')}}'>
  </head>
  <body>
    <div class = "flash">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
    <div class = "main">
      <h1> User Page </h1>
      <p>
        this is user html (afger sign in)
      </p>
    </div>
    <div class = "sections">
      <button type="button" onclick="window.location.href='{{url_for('showSignOut')}}';" class = "button"> Sign Out </button>

    </div>

  </body>
</html>
